#userListNav {
    height: auto;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background: linear-gradient(pink, #ff899e);  
    border-radius: 0 0 10px 0;
    box-shadow: 0 0  10px black;
    transition: all 0.5s ease;
}

.userListNavClose {
    left: -180px !important;
    top: -110px !important;
}

.navListButton {
    font-size: 1.5em;
    position: absolute;
    bottom: 0;
    right: 0;
    margin:  10px;
    color: black;
    cursor: pointer;
}

.menuUserButton {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.menuUserButton i {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 10%;
    color: black;
    font-size: 1.3em;
    margin-right: 5px;
}

.menuUserButton p {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    font-size: 1.3em;
    font-family: 'Orbitron';
}

#userList {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)),url(../images/otakuProjectBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.userListContent {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.userListContent h1 {    
    font-size: 3em;
    color: beige;
    margin: 10px 0;
    font-family: 'AudioWide';
}

.userListContent .list {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
}

@media screen and (max-width:560px) {
    .userListContent h1 {
        font-size: 2em;
    }
 
}