<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Nendoroids{% endblock %}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ asset('css/reset.css') }}">
		<link rel="stylesheet" href="{{ asset('css/listCss.css') }}">
		<link rel="stylesheet" href="{{ asset('css/userInfoCss.css') }}">
		<link rel="stylesheet" href="{{ asset('css/hover.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	</head>
	<body lang="en-EN">
		<!-- Preload -->
		<section class="loadScreen">
			<p><span>S</span>earching for all the nendoroids on the world ! <br/> <span>P</span>lease wait !</p>
			<img src="https://giffiles.alphacoders.com/199/1992.gif" alt="animatedGif" />
		</section>
		<!-- Preload End -->
		{% block body %}
		{% endblock %}
	</body>
</html>