<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1></h1>

        <ul id="navigation">
            {% for user in users %}
                <li>{{ user.username }}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>